* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    align-items: center;
    background-color: #a7a7a7;
    background: linear-gradient(0deg, #ced1d6, #a7a7a7);
    background: -moz-linear-gradient(0deg, #ced1d6, #a7a7a7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    min-height: 400px;
    width: 300px;
}

input {
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    min-width: 300px;
    outline: none;
    padding: 1rem;
}

.weather {
    font-size: 1.5rem;
    text-align: center;
}

.weather__today {
    margin-bottom: 1.5rem;
}

.weather__today > p {
    margin-bottom: 1rem;
}

.today__city {
    text-transform: capitalize;
}

.weather__forecast {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.weather__forecast > li {
    margin-bottom: 1rem;
}

.weather__forecast > li > small {
    font-size: 1rem;
}
